
<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <p style="color: white;">&copy; <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> Zachary Montgomery and Benjamin Hollon. All rights reserved.</p>
      </div>
    
        
      <div class="footer-col footer-col-2">
        <h2 class="footer-heading">Quick Links</h2>
        <ul>
          <li>
            <a href="/privacy-policy/" target="_blank" rel="noopener noreferrer">Privacy Policy</a><br>
          </li>
          <li>
            <a href="/sitemap.xml" target="_blank" rel="noopener noreferrer">Sitemap</a>
          </li>
          <li>
            <a href="/ban-appeals/" target="_blank" rel="noopener noreferrer">Ban Appeal Form</a>
          </li>
          <li>
            <a href="/calendar/" rel="noopener noreferrer">Calendar</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <h2 class="footer-heading">Mailing List</h2>
        <p>Join our mailing list and get updates whenever we post a new blog post!</p>
        {%- include mailchimp.html -%}
      </div>

  </div>

</footer>
