---
layout: default
---

<div id="particles-js text" class="particles-js">
    <div class="index-header">
        <img src="https://avatars1.githubusercontent.com/u/66797723?s=200&v=4" alt="" style="border-radius:50%;"><br><br>
          <h1>The Bookery</h1>
          <h2>The Reader's Community</h3>
    </div>
    <div class="about-us index-sections content">
        <h2 class='blue-header'>Who are we?</h2>
        <p>{{- site.description | escape -}}</p>
        <p>Striving to be the perfect home for all Bibliophiles, Bibliophages, Logophiles, and anyone who loves the written format, we provide a hub for tons of book-related content and conversations, as well as fun and off topic chats! We also host various events, such as the Read-a-Thon Weekend and Reading Wars.</p>
    </div>
    <div class="content index-sections">
        <h2 class="blue-header">
            Where to Find Us
        </h2>
        <table style='width: auto; border-style : hidden!important' align='center'>
            <tr>
                <td>
                    <h3>Discord</h3>
                    <h4>The heart and soul of the community.</h4>
                    <a href='https://discord.gg/{{ site.discord_url }}'><img src="https://discord.com/assets/e7a3b51fdac2aa5ec71975d257d5c405.png" style='height: 45px;' alt="discord logo"></a>
                </td>
                <td>
                    <h3>Goodreads</h3>
                    <h4>Forums and updates.</h4>
                    <a href='https://www.goodreads.com/group/show/1091473-the-bookery'><img src="https://s.gr-assets.com/assets/home/header_logo-8d96d7078a3d63f9f31d92282fd67cf4.png" alt="goodreads logo" style='height: 40px;'></a>
                </td>
            </tr>
        </table>
    </div>
</div>